 <%= render 'header'%>
        <section id="about" class="about">
            <div class="row align-items-center container py-5 mx-auto">
                <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
                    <h6>PREMIUM BANKING</h6>
                    <h2>Unlimited Transaction at zero fees</h2>
                    <p>Welcome to the new generation banking</p>
                    <%= link_to "Learn More","#"%>
                </div>
                <div class="img col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
                    <%= image_tag "5917.jpg",class: "img-fluid"%>
                </div>
            </div>
        </section>
        <section id="discovery" class="discovery">
            <div class="row align-items-center container py-5 mx-auto">
                <div class="img col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
                  <%= image_tag "5917.jpg",class: "img-fluid"%>
                </div>
                <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5 pl-5">
                    <h6>Unlimited Access</h6>
                    <h2>LogIn Anytime</h2>
                    <p>Welcome to the new generation banking</p>
                    <%= link_to "Learn More","#"%>
                </div>
            </div>
        </section>
        <section id="service" class="service py-5">
            <div class="col mx-auto align-items-center my-5">
                <div class="heading text-center pt-5 pb-5 text-light">
                    <h2 class="font-weight-bold">Our Service</h2>
                </div>
                <div class="row mx-auto justify-content-center align-items-center text-center container">
                    <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
                      <%= image_tag "5917.jpg",class: "img-fluid"%>
                            <h5 class="font-weight-bold pt-4">Reduce Expenses</h5>
                            <p>Welcome to the new genertion banking</p>
                    </div>
                    <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
                        <%= image_tag "5917.jpg",class: "img-fluid"%>
                            <h5 class="font-weight-bold pt-4">Virtual Offices</h5>
                            <p>Welcome to the new genertion banking</p>
                    </div>
                    <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
                        <%= image_tag "5917.jpg",class: "img-fluid"%>
                            <h5 class="font-weight-bold pt-4">Premium Rewards</h5>
                            <p>Welcome to the new genertion banking</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="sign" class="sign py-5">
            <div class="row align-items-center container py-5 mx-auto">
                <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
                    <h6>JOIN OUR TEAM</h6>
                    <h2>Create Account Easily</h2>
                    <p>Welcome to the new generation banking</p>
                    <%= link_to "Learn More","#"%>
                </div>
                <div class="img col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
                  <%= image_tag "5917.jpg",class: "img-fluid"%>
                </div>
            </div>
        </section>
<%= render "footer"%>